<%- partial('top') %> 

<a href="/user/create">Create New User</a>
<table class="table table-hover">
	<thead class="thead-inverse">
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>User Level</th>
		<th colspan="2">Actions</th>
	</tr>
	</thead>

	<tbody>
	<% users.forEach( function( model ){ %>
	<tr>
		<td><a href="/user/view/<%=model.id %>""> <%= model.name %> </a></td>
		<td><%= model.email %></td>
		<td><%= model.userlevel %></td>
		<td><a href="/user/delete/<%= model.id %>"">Delete</a></td>
		<td><a href="/user/update/<%= model.id %>"">Edit</a>

	</tr>

	<% }); %>
	</tbody>
</table>

<a href="/user/show_deleteds">Show Deleted Users</a>

<%- partial('bottom') %> 