<h2><%=model.name%></h2>
<ul>
	<li>Name: <%= model.name %></li>
	<li>Email: <%= model.email %></li>
	<li>Created At: <%= model.createdAt %></li>
	<li>Updated At: <%= model.updatedAt %></li>
</ul>

<a href="/user">Back</a>