<%- partial('top') %> 



<h2><%=model.name%></h2>


<ul class="list-group">
	<li class="list-group-item">Name: <%= model.name %></li>
	<li class="list-group-item">Email: <%= model.email %></li>
	<li class="list-group-item">User Level: <%= model.userlevel %></li>
	<li class="list-group-item">Active: <%= model.active %></li>
	<li class="list-group-item">Created At: <%= model.createdAt %></li>
	<li class="list-group-item">Updated At: <%= model.updatedAt %></li>
</ul>

<a href="/user">Back</a>

<%- partial('bottom') %> 